body {
  background: rgb(39, 39, 44);
  color: white;
  font-family: sans-serif;
  font-size: 2rem;
  text-align: center;
}

canvas {
  border: solid 0.2em white;
  height: 90vh;
}

h2 {
  display: inline;
}
